.menuButtonQuemSomos {
  display: flex;
  cursor: pointer;
  z-index: 10;
  font-size: x-large;
}

.menu-dropdown-quem-somos {
  position: absolute;
  width: 300px;
  margin: -20px 0px 0px -13px;
  background-color: #f6c042;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-dropdown-quem-somos.open {
  max-height: 100px;
}

.menu-dropdown-quem-somos ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.menu-dropdown-quem-somos li p {
  display: flex;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: large;
  margin: 0px;
}

.menu-dropdown-quem-somos li p:hover {
  background-color: #f8c95c;
}
