.backPage {
    background-color: rgb(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

.formPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6ab0ec;
    width: 85vw;
    height: 80vh;
    display: flex;
}

.formPage img {
    width: 130px;
    height: 100px;
    margin: 10px;
}

.titleForm {
    color: white;
}