.backPage {
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.formPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6ab0ec;
  padding: 40px;
  height: 70vh;
  width: 80vw;
}

.formPage img {
  width: 170px;
  height: 100px;
  margin: -30px 0px 0px -30px;
  cursor: pointer;
}

.titleForm {
  color: white;
  margin: 90px 0px 0px -80px;
}

.form {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  display: grid;
  text-align: left;
}

.form label {
  margin: 10px 0px 10px 0px;
}

.form input {
  width: 340px;
  height: 40px;
  font-size: 15px;
  outline: none;
  border-bottom: 8px black;
  border: none;
}

.form button {
  margin: 20px auto;
  font-size: 17px;
  font-weight: bold;
  padding: 13px;
  width: 200px;
  border-radius: 20px;
  border-style: none;
  background-color: #ef5361;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: #f0707b;
}
