.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1000;
  background-color: white;
}

.imgInMind {
  margin-top: -50px;
  margin-left: -10px;
  width: 400px;
  height: 210px;
}

.menu {
  display: flex;
  margin: 10px auto auto 0px;
}

.menuButtonInicio {
  display: flex;
  cursor: pointer;
  z-index: 10;
  font-size: x-large;
}

.menu-dropdown-inicio {
  position: absolute;
  width: 300px;
  margin: 80px 0px 0px 50px;
  background-color: #f4cb6ab7;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-dropdown-inicio.open{
  max-height: 100px;
}

.menu-dropdown-inicio ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.menu-dropdown-inicio li a{
  display: flex;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  font-size: large;
  
}

.menu-dropdown-inicio li a:hover {
  background-color: #f4cb6acb;
}

.menuButtonQuemSomos {
  display: flex;
  cursor: pointer;
  z-index: 10;
  font-size: x-large;
}

.menu-dropdown-quem-somos {
  position: absolute;
  width: 300px;
  margin: 80px 0px 0px 230px;
  background-color: #f4cb6ab7;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-dropdown-quem-somos.open{
  max-height: 100px;
}

.menu-dropdown-quem-somos ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

.menu-dropdown-quem-somos li a{
  display: flex;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  font-size: large;
  
}

.menu-dropdown-quem-somos li a:hover {
  background-color: #f4cb6acb;
}


.textMenu {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.imgInicioHome {
  width: 220px;
  height: 120px;
}

.imgInicioArrow {
  width: 220px;
  height: 120px;
}

.buttonEnter{
    margin: 45px 50px 0px 0px;
}

.body {
    padding-top: 90px;
}

.schedule {
    background-color: #6AB0EC;
    color: white;
    height: 500px;
    padding: 50px;
}



