.nav-bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1000;
  background-color: white;
}

.imgInMind {
  margin-top: -50px;
  margin-left: -120px;
  width: 400px;
  height: 210px;
}

.buttonEnter {
  margin: 45px -80px 0px 0px;
}

.body {
  padding-top: 90px;
}

.schedule {
  display: block;
  justify-items: left;
  background-color: #6ab0ec;
  color: white;
  height: 420px;
  padding: 70px;
}

.schedule h1 {
  font-size: 90px;
  width: 530px;
  text-align: left;
}

.schedule div {
  display:flex;
  padding-right: 40px;
}

.imgSchedule {
  width: 640px;
  height: 620px;
  margin: -540px 0px 0px 660px;
  transform: rotate(350deg);
}
