.nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1000;
  background-color: white;
}

.imgInMind {
  margin-top: -50px;
  margin-left: -10px;
  width: 400px;
  height: 210px;
}

.menuButton {
  background-color: purple;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
}

.menu {
  display: flex;
  margin: 50px auto auto 40px;
}

.textMenu {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.iconHome {
  padding: 0px 50px 0px 13px;
  width: 25px;
  height: 25px;
}

.buttonEnter{
    margin: 45px 50px 0px 0px;
}

.body {
    padding-top: 90px;
}

.schedule {
    background-color: #6AB0EC;
    color: white;
    height: 500px;
    padding: 50px;
}



