.buttonWhatsapp{
    background-color: #EF5361;
    color: white;
    padding: 10px 30px 10px 30px;
    width: 220px;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.web {
    text-decoration: none;
}

.buttonWhatsapp:hover {
    background-color: #f0707b;
}