
.buttonEnter {
  margin: 30px 150px 0px 0px;
}

.textEnter {
  background-color: #f4ca6a;
  padding: 20px 35px;
  border-radius: 20px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
