.buttonAgende {
  background-color: #ef5361;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.buttonAgende:hover {
  background-color: #f0707b;
}
