.buttonEnter {
  background-color: #F4CA6A;
  color: white;
  padding: 15px 40px 15px 40px;
  font-size: larger;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.buttonEnter:hover {
  background-color: #f3cf7b;
}
