.nav-bar {
  display: flex;
  margin: 30px 50px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.imgInMind {
  margin-top: -65px;
  margin-left: -10px;
  width: 400px;
  height: 210px;
}

.menu {
  display: flex;
  margin: 37px auto auto 40px;
}

.textMenu {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.iconHome {
  padding: 0px 50px 0px 13px;
  width: 25px;
  height: 25px;
}

.buttonEnter {
  margin: 30px 150px 0px 0px;
}

.textEnter {
  background-color: #f4ca6a;
  padding: 20px 35px;
  border-radius: 20px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}
