.nav-bar{
    display: flex;
    margin: 30px;
}

.imgInMind {
    margin-top: -40px;
    width: 290px;
    height: 160px;
}

.menu{
    display: flex;
    margin: 30px auto;
}

a {
    text-decoration: none;
    color: black;
    font-size:20px;
    font-weight: 500;
}

.iconHome{
    padding: 0px 50px 0px 10px;
    width: 22px;
    height: 22px;
}

.buttonEnter{
    background-color: #F4CA6A;
}