.backPage {
  background-color: rgb(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.agendaPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6ab0ec;
  padding: 40px;
  height: 70vh;
  width: 80vw;
}

.agendaGoogle {
  margin: 50px 0px 0px -70px;
  width: 60vw;
  height: 60vh;
  background-color: white;
}

.buttonContinue {
  margin: auto -40px auto 20px;
}